body
{
	background-color: #555;
}

.CodeMirror
{
	font-size: 18px;
}

.slide-container
{
	padding: 3em;
	height: 100%;
}

.slide
{
	height: 100%;
	background-color: #eee;
	padding: 1em;
	border-radius: 6px;
	overflow: auto;
}

.slide .slide-intro
{
	text-align: center;
}

.slide .slide-simple-directive .usage .CodeMirror
{
	height: 3em;
}