body
{
	background-color: #555;
}

.slide-container
{
	padding: 30px;
	height: 100%;
}

.slide
{
	height: 100%;
	background-color: #eee;
	padding: 10px;
	border-radius: 6px;
	overflow: auto;
}

.slide .slide-intro
{
	text-align: center;
}