body
{
	background-color: #555;
}

.CodeMirror
{
	font-size: 18px;
}
 
.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
}
 
.view-animate.ng-enter, .view-animate.ng-leave.ng-leave-active {
  opacity: 0;
}

.slide-container
{
	padding: 3em;
	height: 100%;
}

.slide
{
	height: 100%;
	background-color: #eee;
	padding: 1em;
	border-radius: 6px;
	overflow: auto;
}

.slide .slide-intro
{
	text-align: center;
}

.slide .slide-simple-directive .usage .CodeMirror
{
	height: 3em;
}

.navigate 
{
	position: absolute;
	height: 100%;
	top: 0px;
	bottom: 0px;
	width: 1.2em;
	font-size: 38px;
	font-weight: bold;
	vertical-align: middle;
	padding: 10px;
	background-color: black;
	color: white;
	opacity: .1;
	cursor: pointer;
}

.navigate:hover
{
	opacity: .4;
}

.navigate.left
{
	left: 0px;
}

.navigate.right
{
	right: 0px;
	text-align: right;
}