<div class="tab-list" ng-init="selected = 'Double Rainbow'">
  <ul class="nav nav-tabs">
    <li ng-class="{active: selected == 'Double Rainbow'}">
      <a href="" ng-click="selected = 'Double Rainbow'">Double Rainbow</a>
    </li>
    <li ng-class="{active: selected == 'Star Wars Kid'}">
      <a href="" ng-click="selected = 'Star Wars Kid'">Star Wars Kid</a>
    </li>
    <li ng-class="{active: selected == 'Chocolate Rain'}">
      <a href="" ng-click="selected = 'Chocolate Rain'">Chocolate Rain</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane" ng-class="{active: selected == 'Double Rainbow'}">
      <img src="/img/double-rainbow.jpg" />
    </div>

    <div class="tab-pane" ng-class="{active: selected == 'Star Wars Kid'}">
      <img src="/img/starwars-kid.jpg" />
    </div>

    <div class="tab-pane" ng-class="{active: selected == 'Chocolate Rain'}">
      <img src="/img/chocolate-rain.gif" />
    </div>
  </div>
</div>
